workflows/03. Buscar janelas disponíveis Google Calendar.json
{
  "name": "03. Buscar janelas disponíveis Google Calendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "periodo_inicio"
            },
            {
              "name": "periodo_fim"
            },
            {
              "name": "id_agenda"
            },
            {
              "name": "tamanho_janela_minutos",
              "type": "number"
            },
            {
              "name": "granularidade",
              "type": "number"
            },
            {
              "name": "amostras",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        704,
        720
      ],
      "id": "5fb84f71-7a45-494d-8a35-c7bb1ffbc7da",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  }\n}\n",
        "includeOtherFields": true,
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        720
      ],
      "id": "1a5558a1-01c8-42c6-a5ec-916cd86477d9",
      "name": "Disponibilidade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5c5b28b-90e4-4cc4-a962-2ea27332245a",
              "name": "periodo_inicio_timestamp",
              "value": "={{ (new Date($('Gatilho').item.json.periodo_inicio) || $now.startOf('day')).format('X') }}",
              "type": "number"
            },
            {
              "id": "5ce5160d-3506-4cb8-b282-2bd5fcf0733a",
              "name": "periodo_fim_timestamp",
              "value": "={{ (new Date($('Gatilho').item.json.periodo_fim ) || $now.plus(1,'day').startOf('day')).format('X') }}",
              "type": "number"
            },
            {
              "id": "bc1d94bb-9a0a-4d0c-a760-642a07d96cbc",
              "name": "tamanho_janela_minutos",
              "value": "={{ $('Tamanho janela válido?').item.json.tamanho_janela_minutos || 60 }}",
              "type": "number"
            },
            {
              "id": "8cfe23c6-6e54-474f-b792-91e1d5323cce",
              "name": "granularidade",
              "value": "={{ $('Tamanho janela válido?').item.json.granularidade || 30 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        720
      ],
      "id": "178e3538-5bf0-4ced-a1e0-80a2bcc7d666",
      "name": "Configurações"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Divide um período de tempo em \"janelas\".\n */\nconst {\n  periodo_inicio_timestamp,\n  periodo_fim_timestamp,\n  granularidade,\n  tamanho_janela_minutos,\n} = $(\"Configurações\").first().json;\n\nconst total_minutos = (periodo_fim_timestamp - periodo_inicio_timestamp) / 60;\nconst quantidade_janelas = total_minutos / granularidade;\n\nconst janelas = [];\n\nfor (let janela_i = 0; janela_i < quantidade_janelas; janela_i++) {\n  const offset_janela = janela_i * granularidade * 60;\n  const inicio_janela_timestamp = periodo_inicio_timestamp + offset_janela;\n  const fim_janela_timestamp =\n    inicio_janela_timestamp + tamanho_janela_minutos * 60;\n\n  // Não criar janelas fora do período.\n  if (fim_janela_timestamp > periodo_fim_timestamp) {\n    break;\n  }\n\n  const inicio_janela = DateTime.fromSeconds(inicio_janela_timestamp);\n  const fim_janela = DateTime.fromSeconds(fim_janela_timestamp);\n\n  janelas.push({ inicio_janela, fim_janela });\n}\n\nreturn janelas;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        720
      ],
      "id": "7ef33618-d022-4e11-ab29-1ab27050b9b7",
      "name": "Gerar janelas de tempo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Filtra janelas pela disponibilidade.\n */\n\nconst DIAS = ['domingo','segunda','terça','quarta','quinta','sexta','sabado'\n];\n\nfunction tempo_para_minutos(tempo_str) {\n  const [horas, minutos] = tempo_str.split(':').map(Number);\n  return horas * 60 + minutos;\n}\n\nfunction obter_minutos_da_data(data) {\n  return data.getHours() * 60 + data.getMinutes();\n}\n\nfunction janela_dentro_disponibilidade(janela, disponibilidade) {\n  const inicio = new Date(janela.inicio_janela);\n  const fim = new Date(janela.fim_janela);\n\n  // Ignorar caso especial: inicio em fim em dias diferentes.\n  if (inicio.toDateString() !== fim.toDateString()) {\n    return false;\n  }\n\n  const dia_semana = DIAS[inicio.getDay()];\n  const disponibilidade_dia = disponibilidade[dia_semana];\n\n  if (!disponibilidade_dia || disponibilidade_dia.length === 0) {\n    return false;\n  }\n\n  const inicio_janela = obter_minutos_da_data(inicio);\n  const fim_janela = obter_minutos_da_data(fim);\n  \n  for (const periodo of disponibilidade_dia) {\n    const inicio_periodo = tempo_para_minutos(periodo.inicio);\n    const fim_periodo = tempo_para_minutos(periodo.fim);\n    \n    if (inicio_janela >= inicio_periodo && fim_janela <= fim_periodo) {\n      return true;\n    }\n  }\n  \n  return false;\n}\n\nconst janelas = $('Gerar janelas de tempo').all();\nconst { id_agenda } = $('Gatilho').first().json;\nconst disponibilidade = $('Disponibilidade').first().json[id_agenda];\n\nif (!disponibilidade) {\n  throw new Error('Disponibilidade não cadastrada para agenda. Verificar nó \"Disponibilidade\"')\n}\n\nreturn janelas.filter(janela => janela_dentro_disponibilidade(janela.json, disponibilidade));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        720
      ],
      "id": "25d35b02-5e23-46fc-b32a-d588fa4253c8",
      "name": "Filtrar disponibilidade",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2896,
        720
      ],
      "id": "6ee49bf4-0828-4394-8aa6-27d81ee71522",
      "name": "Aleatoriza a ordem",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Selecionar amostras de janelas. Retorna todas caso número de amostras não seja informado.\n */\n\nconst { amostras } = $(\"Gatilho\").first().json;\n\nconst janelas = $(\"Aleatoriza a ordem\")\n  .all()\n  .map(({ json }) => json)\n  // Se `amostras` não foi informado, retorna todas as janelas\n  .slice(0, amostras ?? undefined);\n\nreturn janelas.sort(\n  (a, b) =>\n    new Date(a.inicio_janela).getTime() -\n    new Date(b.inicio_janela).getTime()\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        720
      ],
      "id": "7a4af333-a3b4-4adf-a309-9b521a7b938f",
      "name": "Selecionar amostras",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Verificar se as janelas de tempo disponíveis não conflitam com eventos já agendados.\n */\nconst janelas = $(\"Selecionar amostras\")\n  .all()\n  .map(({ json }) => ({\n    inicio_janela: DateTime.fromJSDate(new Date(json.inicio_janela)),\n    fim_janela: DateTime.fromJSDate(new Date(json.fim_janela)),\n  }));\n\nconst eventos = $(\"Consulta eventos no período\").all();\n\n// Se não há eventos agendados, todas as janelas estão disponíveis\nif (Object.keys(eventos[0].json).length === 0) {\n  return janelas.map(({ inicio_janela, fim_janela }) => ({\n    inicio_janela,\n    fim_janela,\n  }));\n}\n\nconst periodo_eventos = eventos.map(({ json }) => ({\n  inicio_evento: DateTime.fromJSDate(new Date(json.start.dateTime)),\n  fim_evento: DateTime.fromJSDate(new Date(json.end.dateTime)),\n}));\n\nreturn janelas\n  .filter(({ inicio_janela, fim_janela }) => {\n    for (const { inicio_evento, fim_evento } of periodo_eventos) {\n      if (inicio_janela < fim_evento && fim_janela > inicio_evento) {\n        // Overlap da janela com o evento\n        return false;\n      }\n    }\n    return true;\n  })\n  .map(({ inicio_janela, fim_janela }) => ({\n    inicio_janela,\n    fim_janela,\n  }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        720
      ],
      "id": "60bfadf6-c0bf-4327-bdf1-4b8dbe00eda5",
      "name": "Verificar eventos na agenda",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e63d847-edcd-4d79-9526-b9d42f1358c7",
              "leftValue": "={{ [10, 15, 20, 30, 45, 60, 90, 120] }}",
              "rightValue": "={{ $json.tamanho_janela_minutos || 60 }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "e06a278f-6b16-4f1e-8e04-78002eb7f02d",
              "leftValue": "={{ [10, 15, 20, 30, 45, 60, 90, 120] }}",
              "rightValue": "={{ $json.granularidade || 30 }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        720
      ],
      "id": "1155ca72-6e7b-4b73-9374-08a439615e48",
      "name": "Tamanho janela válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $('Configurações').item.json.periodo_inicio_timestamp.toDateTime('s') }}",
        "timeMax": "={{ $('Configurações').item.json.periodo_fim_timestamp.toDateTime('s') }}",
        "options": {
          "recurringEventHandling": "expand",
          "showHiddenInvitations": true
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1792,
        720
      ],
      "id": "1158ab0f-00c0-4f19-80a3-69cbf62a7cb1",
      "name": "Consulta eventos no período",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed84157f-b3d7-454c-88e9-099a28153c0a",
              "leftValue": "={{ $('Gatilho').item.json.periodo_inicio.toDateTime() }}",
              "rightValue": "= {{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        720
      ],
      "id": "72cb32bc-f147-4f9b-891c-f2ed9c6c2225",
      "name": "Período válido?"
    },
    {
      "parameters": {
        "content": "### Configurar disponibilidade!",
        "height": 256,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        640
      ],
      "typeVersion": 1,
      "id": "67884fd5-41ac-4954-afb5-d90a2ff7938b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "568f0822-bbc7-4e96-a32c-63953201e5b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        720
      ],
      "id": "32137fe4-4295-43a9-a06d-65acb952cbc7",
      "name": "Alguma janela?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "568f0822-bbc7-4e96-a32c-63953201e5b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2656,
        720
      ],
      "id": "c75ddfaa-707a-4379-87bc-0d3fdbd1fd23",
      "name": "Alguma janela?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2896,
        912
      ],
      "id": "c4687df2-449d-4e45-89d2-126e9ced364c",
      "name": "Retorna vazio"
    },
    {
      "parameters": {
        "errorMessage": "Tamanho da janela ou granularidade inválidos. Utilize um desses valores: [10, 15, 20, 30, 45, 60, 90, 120]"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1120,
        912
      ],
      "id": "5ad324dd-80dc-4240-9438-16b67bc30962",
      "name": "Janela inválida"
    },
    {
      "parameters": {
        "errorMessage": "Período informado já passou."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1344,
        912
      ],
      "id": "1f6dd487-0569-410b-af1a-e744814c471f",
      "name": "Período inválido"
    },
    {
      "parameters": {
        "content": "## Configurações e validações",
        "height": 480,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        608
      ],
      "typeVersion": 1,
      "id": "85ce8b1d-2636-469e-8fba-e385e7e7203d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar eventos e construir janelas",
        "height": 480,
        "width": 1840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        608
      ],
      "typeVersion": 1,
      "id": "7145a0c0-1bdf-405c-bd0b-b25c421c2f65",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Tamanho janela válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade": {
      "main": [
        [
          {
            "node": "Configurações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurações": {
      "main": [
        [
          {
            "node": "Consulta eventos no período",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar janelas de tempo": {
      "main": [
        [
          {
            "node": "Alguma janela?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar disponibilidade": {
      "main": [
        [
          {
            "node": "Alguma janela?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aleatoriza a ordem": {
      "main": [
        [
          {
            "node": "Selecionar amostras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar amostras": {
      "main": [
        [
          {
            "node": "Verificar eventos na agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tamanho janela válido?": {
      "main": [
        [
          {
            "node": "Período válido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Janela inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta eventos no período": {
      "main": [
        [
          {
            "node": "Gerar janelas de tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Período válido?": {
      "main": [
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Período inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alguma janela?": {
      "main": [
        [
          {
            "node": "Filtrar disponibilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alguma janela?1": {
      "main": [
        [
          {
            "node": "Aleatoriza a ordem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87c65e44-ab99-4bdd-9d7e-5dcd62a94d44",
  "meta": {
    "instanceId": "b1fb13baed416f15345287e567ccf53e6d135fda3c2d557b2cd7ae1767602388"
  },
  "id": "IlAUmdxAa0jnyXN5",
  "tags": []
}