workflows/05.1 [EXTRA] Escalar humano - Multi-alerta.json
{
  "name": "05.1 [EXTRA] Escalar humano - Multi-alerta",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        720
      ],
      "id": "142f326e-e459-41c7-905e-eda1fbc32698",
      "name": "Listar etiquetas da conversa"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "resumo_conversa"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conversa_alerta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        720
      ],
      "id": "3180febb-2ce1-454a-ba3a-c2e160579454",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Assistente desabilitado para o usuário {{ $('Gatilho').item.json.nome || '(usuário não cadastrado)' }} ({{ $('Gatilho').item.json.telefone }}).\n\n*Última mensagem*:\n\n\"{{ $('Gatilho').item.json.ultima_mensagem }}\"\n\n*Resumo da conversa*:\n\n\"{{ $('Gatilho').item.json.resumo_conversa }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        720
      ],
      "id": "2d4c606c-88f5-49fd-9aea-54b91bddacb0",
      "name": "Enviar alerta",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b51e260-d4ab-4748-82b0-f8012c3f3c70",
              "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        720
      ],
      "id": "32b44c87-10b9-47e9-9b21-dd1679b5f918",
      "name": "Conversa de alerta configurada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        880
      ],
      "id": "23ad5bbf-094d-4e3a-9da0-3f681190a6ed",
      "name": "Alerta não configurado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        720
      ],
      "id": "eba27769-51df-4c90-a58d-fc68b1aecc71",
      "name": "Colocar etiqueta agente-off"
    },
    {
      "parameters": {
        "content": "## Colocar etiqueta e enviar alerta",
        "height": 416,
        "width": 1248,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        624
      ],
      "typeVersion": 1,
      "id": "7a43523d-a943-4f46-a4e4-b662717b6544",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id_conversa_alerta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        720
      ],
      "id": "3cdd9d22-9b80-42fb-ace3-096a507df061",
      "name": "Split"
    }
  ],
  "pinData": {},
  "connections": {
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa de alerta configurada?": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta não configurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Conversa de alerta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb79a424-4a8d-4a4c-a304-a6d930d7f99f",
  "meta": {
    "instanceId": "b1fb13baed416f15345287e567ccf53e6d135fda3c2d557b2cd7ae1767602388"
  },
  "id": "Ztxiu7ybZV1WY3Ru",
  "tags": []
}